@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Bienvenue au CRM-DarkSlateBlue, un gestionnaire de relation client.</p>
</div>
